.switch-box {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: min-content;
    height: 30px;
    vertical-align:middle;
    margin-top: 22px;
}
.switch-box a {
    line-height: 27px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.switch-input {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 60px;
    height: 100%;
    opacity: 0;
}
.switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #e3e3e3;
    border-radius: 20px;
    transition: .3s;
}
.switch-label:after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    transition: .3s;
}
.switch-input:checked ~ .switch-label {
    background-color: #31CF59;
    transition: .3s;
}
.switch-input:checked ~ .switch-label:after {
    left: 33px;
    transition: .3s;
}
